.header {
  background-color: #D8D9DD;
  border: 1px solid #A2A9B1;
  font-weight: bold;
}

.header div {
  cursor: pointer;
}

.header .gold {
  background-color: #FED631;
}

.header .silver {
  background-color: #C0C0C0;
}

.header .bronze {
  background-color: #CB9869;
}
